<div class="col-xs-6 col-xs-offset-2" id="orgs">
    <div class="row">
        <div class="col-xs-2">
            <h4>Organizations</h4>
        </div>
        <div class="col-xs-10">
            {% for org in orgs %}
                <div class="col-xs-12">
                    <h3>{{ org.login }}</h3>
                    <span>Member</span>

                    If you would like more information about this organization, please visit <a href={{ org.url }}>the organization page</a> on GitHub.
                    <hr/>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr>
</div>